body {
    background: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
}
.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.table {
    background-color: white;
}
.navbar {
    background: linear-gradient(135deg, #fcba94 0%, #f59467 50%, #ce7815 100%) !important;
}
